<aside>
        <div class="chartSection mt-2 row">
            
            <div class="chartFirstSec d-flex gap-3 col-md-6">
                <img class="w-100" src="/images/chart3.png" alt="">
            </div>
            <div class="chartFirstSec d-flex gap-3 col-md-6">
                <img class="w-100" src="/images/chart4.png" alt="">
            </div>

            <div class="chartFirstSec d-flex gap-3 col-md-6">
                <img class="w-100" src="/images/chart1.png" alt="">
            </div>
            <div class="chartFirstSec d-flex gap-3 col-md-6">
                <img class="w-100" src="/images/chart5.png" alt="">
            </div>
            <div class="chartFirstSec d-flex gap-3 col-md-6">
                <img class="w-100" src="/images/chart6.png" alt="">
            </div>
            
            <!-- <div class="chartSecSec d-flex gap-3 mt-3">
                <img class="w-100" src="/images/chart1.png" alt="">
                <img class="w-100" src="/images/chart5.png" alt="">
            </div>

            <div class="chartThardSec mt-3">
                <img class="w-100" src="/images/chart6.png" alt="">
            </div> -->
        </div>
    </aside>