@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");


:root{
    --sky-color : rgba(10, 65, 106, 1);
    --light-black: #0E0E0E;
    --yellow: #CFDC11;
    --white: #ffffff;
    --grey:rgba(0, 0, 0, 0.5);
    --light-blue: #185CDE;
   --font-500:500;
}