<header>
    <div class="container-fluid">
        <div class="topHeadder">
            <div class="logo">
                <a href="javaScript:Void(0)">
                    <img class="img-fluid" src="/images/studio/loginLogo.png" alt="">
                </a>
            </div>

            <div class="loginMenu">
                <div class="mobileMenu d-none">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="notification">
                    <i class="fa-regular fa-bell"></i>
                </div>

                <ul class="loginSection">
                    <li class="position-relative">
                        <img class="img-fluid loginHome" src="/images/studio/home.png" alt="">
                        <p>Gustavo Levin</p>
                        <div class="down">
                            <i class="fa-solid fa-angle-down"></i></button>
                        </div>

                        <!-- <ul>
                            <li>
                                <a href="javaScript:void(0)"></a>
                            </li>
                        </ul> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>