<div class="sideMenu">
    <ul class="listMenu">
        <li>
            <a href="javaScript:void(0)"><i class="fa-solid fa-photo-film"></i> Studio Details</a>
        </li>
        <li>
            <a class="active" href="javaScript:void(0)"><i class="fa-solid fa-user"></i> Profile</a>
        </li>
        <li>
            <a href="javaScript:void(0)"><i class="fa-regular fa-calendar-days"></i> Calendar</a>
        </li>
        <li>
            <a href="javaScript:void(0)"><i class="fa-solid fa-thumbs-up"></i> Subscription</a>
        </li>
        <li>
            <a href="javaScript:void(0)"><i class="fa-solid fa-reply-all"></i> Feedbacks</a>
        </li>
    </ul>
</div>