<ul class="listMenu">
    <li>
        <a href="/studio/studioDetail"><i class="fa-solid fa-photo-film"></i> Studio Details</a>
    </li>
    <li>
        <a class="active" href="/studio/profile"><i class="fa-solid fa-user"></i> Profile</a>
    </li>
    <li>
        <a href="/studio/calender"><i class="fa-regular fa-calendar-days"></i> Calendar</a>
    </li>
    <li>
        <a href="/studio/subscription"><i class="fa-solid fa-thumbs-up"></i> Subscription</a>
    </li>
    <li>
        <a href="/studio/feedbacks"><i class="fa-solid fa-reply-all"></i> Feedbacks</a>
    </li>
</ul>