<div class="rightContent">
    <section class="profileContent">
        <div class="profileMainHedding">
            <h5>Complete Profile</h5>
            <p>(For Admin Access Only ; Not visible to users/Customers)</p>
        </div>
        <div class="borderPro"></div>

        <!-- ------------------- This is all pages border part Start---------------->

        <div class="borderActivePage">
            <div class="firstActive"></div>
            <div class="secendActive d-none"></div>
            <div class="thirdActive d-none"></div>
        </div>

        <!-- ------------------- This is all pages border part end -------------- -->

        <form>
            <div class="row">
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Registered Mobile Number (Studio Owner)<strong class="text-danger">*</strong></label>
                    <input type="tel" class="form-control" placeholder="Mobile Number" name="mobile" pattern="[0-9]*"
                        inputmode="numeric">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Studio Owners Name<strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" placeholder="Studio Owners Name" name="">
                </div>


                <div class="col-sm-6 form-group mb-3">
                    <label for="">Studio Owners Email<strong class="text-danger">*</strong></label>
                    <div class="ownerAddSection">
                        <input type="text" class="form-control" placeholder="Studio Owners Email" name="">
                        <button class="addOnOwners">Add More</button>
                    </div>
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Upload Personal ID (Aadhar/PAN)<strong class="text-danger">*</strong></label>
                    <input type="file" class="form-control" placeholder="Upload here" name="">
                </div>


                <div class="col-sm-6 form-group mb-3">
                    <label for="">GST Number (If Applicable)</label>
                    <input type="text" class="form-control" placeholder="GST Number" name="">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="">PAN Card<strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" placeholder="PAN Card Number" name="">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="">FSSAI License (if you have cafe inside/offer food/supplements)</label>
                    <input type="text" class="form-control" placeholder="FSSAI License" name="">
                </div>


                <div class="col-sm-6 form-group mb-3">
                    <label for="">Business Name<strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" placeholder="Studio Owners Name" name="pswd">
                </div>
                <div class="col-sm-12 form-group mb-3">
                    <label for="">Business Registration Certificate</label>
                    <textarea class="form-control" id="" name="" rows="4"
                        placeholder="eg. ‘MSME or Shop Act or any other applicable license’"></textarea>
                </div>

                <div class="col-sm-12">
                    <div class="text-end">
                        <a class="profileBtn" href="javaScript:void(0)">Back</a>
                        <a class="profileBtn ms-3 profileNextBtn" href="javaScript:void(0)">Next</a>
                    </div>
                </div>

            </div>
        </form>
    </section>
    <section class="profileContent d-none">
        <div class="profileMainHedding">
            <h5>Complete Profile</h5>
            <p>(Visible to Users /Customers)</p>
        </div>
        <div class="borderPro"></div>

        <!-- ------------------- This is all pages border part Start---------------->

        <div class="borderActivePage">
            <div class="firstActive"></div>
            <div class="secendActive "></div>
            <div class="thirdActive d-none"></div>
        </div>

        <!-- ------------------- This is all pages border part end -------------- -->

        <form>
            <div class="row">
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Studio Name<strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" placeholder="Studio Name" name="">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Studio Logo</label>
                    <div class="uploadProfile">
                        <img class="img-fluid" src="./image/studio/sameer.png" alt="">
                        <input type="file" class="form-control" placeholder="" name="">
                    </div>
                </div>


                <div class="col-sm-6 form-group mb-3">
                    <label for="">Short Slogan</label>
                    <textarea class="form-control" id="" name="" rows="3" placeholder="Write here’"></textarea>
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Description for studio</label>
                    <textarea class="form-control" id="" name="" rows="3" placeholder="Write here"></textarea>
                </div>


                <div class="col-sm-6 form-group mb-3">
                    <label for="">Address<strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" placeholder="Address" name="">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Pincode<strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" placeholder="Enter Pin Code" name="">
                </div>


                <div class="col-sm-6 form-group mb-3">
                    <label for="">Google Map Link<strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" placeholder="Add Map Link" name="">
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <label for="">Studio Locality<strong class="text-danger">*</strong></label>
                    <input type="text" class="form-control" placeholder="eg. Andheri, Juhu, Bandra etc" name="">
                </div>


                <div class="col-sm-6 form-group mb-3">
                    <label for="">Type of Studio<strong class="text-danger">*</strong></label>
                    <select class="form-select form-control" id="sel1" name="sellist1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <label for="">Best Suited for<strong class="text-danger">*</strong></label>
                    <select class="form-select form-control" id="sel1" name="sellist1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <label for="">Upload Studio Pictures</label>
                    <input type="file" class="form-control" placeholder="Upload here" name="">
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <label for="">Upload Display Image</label>
                    <input type="file" class="form-control" placeholder="Upload here" name="">
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <label for="">Studio Operational Since<strong class="text-danger">*</strong></label>
                    <input type="date" class="form-control" id="" name="">
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <label for="">Studio Locality<strong class="text-danger">*</strong></label>
                    <select class="form-select form-control" id="sel1" name="sellist1">
                        <option>00</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <label for="">Area Free Space for Classes/Shoot</label>
                    <select class="form-select form-control" id="sel1" name="sellist1">
                        <option>00</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <label for="">Available Facilities (Mandatory to select at least one)</label>
                    <select class="form-select form-control" id="sel1" name="sellist1">
                        <option>Available Facilities (Mandatory to select at least one)</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="col-sm-12 form-group mb-3">
                    <label for="">Available Facilities (Mandatory to select at least one)</label>
                    <textarea class="form-control" id="" name="" rows="4" placeholder="write new additional"></textarea>
                </div>





                <div class="col-sm-12">
                    <div class="text-end">
                        <a class="profileBtn" href="javaScript:void(0)">Back</a>
                        <a class="profileBtn ms-3 profileNextBtn" href="javaScript:void(0)">Next</a>
                    </div>
                </div>

            </div>
        </form>
    </section>
    <section class="profileContent d-none">
        <div class="profileMainHedding">
            <h5>Complete Profile</h5>
            <p>(Visible to Users /Customers)</p>
        </div>
        <div class="borderPro"></div>

        <!-- ------------------- This is all pages border part Start---------------->
        <div class="borderActivePage">
            <div class="firstActive"></div>
            <div class="secendActive"></div>
            <div class="thirdActive"></div>
        </div>
        <!-- ------------------- This is all pages border part end -------------- -->

        <form>
            <div class="row">
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Instagram ID</label>
                    <input type="text" class="form-control" placeholder="Instagram" name="">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Facebook</label>
                    <input type="text" class="form-control" placeholder="Facebook" name="">
                </div>


                <div class="col-sm-6 form-group mb-3">
                    <label for="">Youtube</label>
                    <input type="text" class="form-control" placeholder="Youtube" name="">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="">Website Link</label>
                    <input type="file" class="form-control" placeholder="Website Link" name="">
                </div>


                <div class="col-sm-6 form-group mb-3">
                    <label for="">Rate Package Starting at<strong class="text-danger">*</strong></label>
                    <div class="rateSelect">
                        <div>
                            <input type="radio" value="perHours" name="paymentMethod">
                            <label for="perHours">Per Hours</label>
                        </div>

                        <div>
                            <input type="radio" value="perDay" name="paymentMethod">
                            <label for="perDay">Per Day</label>
                        </div>

                        <div>
                            <input type="radio" value="both" name="paymentMethod">
                            <label for="both">Both</label>
                        </div>

                        <div>
                            <input type="radio" value="naPay" name="paymentMethod">
                            <label for="naPay">NA</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <div class="perHours">
                        <label for="">Per Hours Rate<strong class="text-danger">*</strong></label>
                        <input type="text" class="form-control" placeholder="⟨₹⟩ 00" name="">
                    </div>

                    <div class="perDay d-none">
                        <label for="">Per Day Rate<strong class="text-danger">*</strong></label>
                        <input type="text" class="form-control" placeholder="⟨₹⟩ 00" name="">
                    </div>

                    <div class="bothRate row d-none">
                        <div class="col-sm-6 ps-0">
                            <label for="">Per Day Rate<strong class="text-danger">*</strong></label>
                            <input type="text" class="form-control" placeholder="⟨₹⟩ 00" name="">
                        </div>

                        <div class="col-sm-6 pe-0">
                            <label for="">Per Hour Rate<strong class="text-danger">*</strong></label>
                            <input type="text" class="form-control" placeholder="⟨₹⟩ 00" name="">
                        </div>
                    </div>
                </div>



                <div class="col-sm-12 form-group mb-3">
                    <label for="">Additional Package Details (If any)</label>
                    <textarea class="form-control" id="" name="" rows="4"
                        placeholder="eg. additional services provided with space Or Monthly booking rates etc"></textarea>
                </div>

                <label for="">Contact Details For Booking<strong class="text-danger">*</strong></label>
                <div class="col-sm-6 form-group mb-3">
                    <input type="text" class="form-control" placeholder="Add Whatsapp Number" name="">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <input type="text" class="form-control" placeholder="For Call" name="">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <input type="text" class="form-control" placeholder="For Email" name="">
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <input type="text" class="form-control" placeholder="Direct booking lin" name="">
                </div>

                <div class="col-sm-12 form-group mb-3">
                    <label for="">Additional Booking Info (If any)</label>
                    <textarea class="form-control" id="" name="" rows="4"
                        placeholder="eg. Please call between 9 am to 9 pm OR Fill in our inquiry form anytime"></textarea>
                </div>

                <div class="col-sm-12 form-group">
                    <input type="checkbox" name="" id="">
                    <span>I accept the </span><a href="javaScript:void(0)">Terms & Conditions</a>
                </div>


                <div class="col-sm-12">
                    <div class="text-end">
                        <a class="profileBtn" href="javaScript:void(0)">Back</a>
                        <a class="profileBtn ms-3 profileNextBtn" href="javaScript:void(0)">Next</a>
                    </div>
                </div>

            </div>
        </form>
    </section>
</div>

<script>
    function saveStudio(step) {
        e.preventDefault();

        const formData = new FormData(this); // Automatically includes all inputs and files

        $.ajax({
            url: '/studio/save', // Your Express route
            type: 'POST',
            data: formData,
            processData: false, // Required for FormData
            contentType: false, // Required for FormData
            success: function (response) {
                console.log('Studio saved:', response);
                alert(response.message || 'Studio saved successfully');
            },
            error: function (xhr) {
                const err = xhr.responseJSON?.message || 'Something went wrong';
                alert('Error: ' + err);
                console.error('Error response:', xhr);
            }
        });
    }
</script>